<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<nav class="main-section__nav nav-menu">
    <ul class="nav-menu__list">
        <li class="nav-menu__list-item">
            <a th:href="@{/design}">Design your taco!</a>
        </li>
        <li class="nav-menu__list-item">
            <a th:href="@{/orders}">orders</a>
        </li>
    </ul>
</nav>

<body>
<h1>Welcome to...</h1>
<img th:src="@{images/TacoCloud_s.png}"/>
</body>
</html>